version: 2
jobs:
		build-job:
			docker:
				- image:cbuild/hugo:latest
			working_directory: ~/project
			steps:
				- checkout
				- run:
					name: "Run Hugo"
					command: HUGO_ENV=production hugo -v -s ~/project/

workflows:
	version: 2
	build-deploy:
		jobs:
			- build-job